.container {
    margin: 100px auto auto auto;
    padding: 50px 75px;
    max-width: 600px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
}

.custom-navbar {
    background-color: #f39c12;
    box-shadow: 0 1px 1em;
}

.form-group {
    margin-bottom: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
}

.button {
    text-align: center;
}

.form-button {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.form-button:hover {
    color: #ffffff;
    background-color: #d68910;
    border-color: #d68910;
}